/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.pr {
	position: relative;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

// hide map and data table under desktop
.hidden-mobile {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.black-bkgr {
	background-color: $black;
	color: $white;
}

.bg-green {
	background: $green !important;
	border: 1px solid $green !important;
	color: $white;
}

.orange-bkgr {
	background: $orange;
	color: $white;
}

.white-bkgr {
	background: $white;
}

.warning-bkgr {
	background-color: $orange;
}


/* ======================
spacing and layout 
========================= */

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.float-none {
	float: none;
}

.container-narrow {
	max-width: 600px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.block {display: block;}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.horz-spacer {
	display: inline-block;
	width: 10px;
}

.horz-spacer-4x {
	display: inline-block;
	width: 40px;
}

.divider {
	height: 1px;
	width: 80%;
	margin: 30px auto;
	background-color: gray;
}

.no-horiz-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.pl0 {
	padding-left: 0;
}

.pr1 {
	padding-right: 16px;
}

.pl1 {
	padding-left: 16px;
}

.padding-all {
	padding: 24px;
}

.pt0 {
	padding-top: 0;
}

.pt1 {
	padding-top: 16px;
}

.pt2 {
	padding-top: 32px;
}

.pt3 {
	padding-top: 48px;
}

.pt4 {
	padding-top: 64px;
}

.pb0 {
	padding-bottom: 0;
}

.pb1 {
	padding-bottom: 16px;
}

.pb2 {
	padding-bottom: 32px;
}

.pb3 {
	padding-bottom: 48px;
}

.pb4 {
	padding-bottom: 64px;
}

.mt0 {
	margin-top: 0;
}

.mthalf {
	margin-top: 8px;
}

.mt1 {
	margin-top: 16px;
}

.mt2 {
	margin-top: 32px;
}

.mt3 {
	margin-top: 48px;
}

.mt4 {
	margin-top: 64px;
}

.mb0 {
	margin-bottom: 0;
}

.mb1 {
	margin-bottom: 16px;
}

.mb2 {
	margin-bottom: 32px;
}

.mb3 {
	margin-bottom: 48px;
}

.mb4 {
	margin-bottom: 64px;
}

.mr1 {
	margin-right: 10px
}

.mlauto {
	margin-left: auto;
}

.mrauto {
	margin-right: auto;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}


/* ==============================
type 
================================= */

p {
	margin: 0 0 14px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

ul.sublist {
	margin: 16px 0 !important;
}

ul.disc li,
ul.sublist li {
	list-style-type: disc;
	margin-left: 20px;
}

li {
	list-style-type: none;
	margin-bottom: 12px;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.black-text {
	color: black;
}

.white-text {
	color: white;
}

.gray-text {
	color: gray;
}

.green-text {
	color: green;
}

.red-text {
	color: red;
}

p.error-text,
div.error-text {
	padding: 6px 15px;
	margin: 10px 0;
	background-color: red;
	color: white !important;
	font-size: 14px;
}



.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.small {
	font-size: 12px;
}

.tac {
	text-align: center;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.bold {
	font-weight: 700;
}

.xbold {
	font-weight: 900;
}

.large {
	font-size: 18px
}

.xlarge {
	font-size: 22px
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.6em;
  color: rgba(26,26,26,.7);
}

label {
	font-size: 16px;
}

input:read-only { 
	background-color: rgb(212, 212, 212);
	padding-right: 15px;
}

.inp-mrg {
  margin-left: 1em;
}

.inp-wth {
  width: 4em;
}

.aln-rt {
  text-align: right;
}

.aln-ctr {
	text-align: center;
}

.bot-brd {
  border-bottom: 1px solid black;
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
